# These files do not contain any relevant programming practices.
# Hence, they've been discarded to be uploaded in the Github repository

Administracion de Proyectos/
Administracion de Servicios en Red/
ADOO/
Analisis Fundamentales de Circuitos/
Curso AZ900 Microsoft Azure/
DSD/
Electronica Analogica/
Fundamentos Economicos/
Gestion Empresarial/
Ingenieria de Software/
Instrumentacion/
Liderazgo y Desarrollo Profesional/
Metodos Cuantitativos para la toma de Decisiones/
Probabilidad y Estadistica/
ProtocoloTT/
ServicioSocial/
Sistemas Operativos/
Teoria Computacional/
Teoria de Comunicaciones y Senales/
