# These files do not contain any relevant programming practices.
# Hence, they've been discarded to be uploaded in the Github repository

Administracion de Proyectos/
Administracion de Servicios en Red/
ADOO/