# These files do not contain any relevant programming practices.
# Hence, they've been discarded to be uploaded in the Github repository

Administracion de Proyectos/
Administracion de Servicios en Red/
ADOO/
Analisis Fundamentales de Circuitos/
Curso AZ900 Microsoft Azure/
DSD/
Electronica Analogica/
Fundamentos Economicos/
Gestion Empresarial/
Ingenieria de Software/
Instrumentacion/
Liderazgo y Desarrollo Profesional/
Metodos Cuantitativos para la toma de Decisiones/
Probabilidad y Estadistica/
ProtocoloTT/
ServicioSocial/
Sistemas Operativos/
Teoria Computacional/
Teoria de Comunicaciones y Senales/

# Other miscelaneous files contained in the folders uploaded to GitHub.
# They have been discarded since they have no value for this repository.
Applications_for_Network_Communications/*.docx
Applications_for_Network_Communications/*.doc

Compilers/*
!Compilers/Practicas
!Compilers/Apuntes de Clase
Compilers/Practicas/Practica1_AFN/*
!Compilers/Practicas/Practica1_AFN/*.txt
!Compilers/Practicas/Practica1_AFN/*.py
!Compilers/Practicas/Practica1_AFN/*.docx
Compilers/Practicas/Practica2_AFN-E/*
!Compilers/Practicas/Practica2_AFN-E/*.txt
!Compilers/Practicas/Practica2_AFN-E/*.py
!Compilers/Practicas/Practica2_AFN-E/*.docx
Compilers/Practicas/Practica3_AFN-E_AFD/*
!Compilers/Practicas/Practica3_AFN-E_AFD/*.txt
!Compilers/Practicas/Practica3_AFN-E_AFD/*.py
!Compilers/Practicas/Practica3_AFN-E_AFD/*.docx
Compilers/Practicas/Practica4_Flex/*.pdf
Compilers/Practicas/Practica4_Flex/*.rar
Compilers/Practicas/Practica5_Bison/*.pdf
Compilers/Practicas/Practica5_Bison/*.rar
Compilers/Practicas/Practica6_Interprete/*.pdf
Compilers/Practicas/Practica6_Interprete/*.rar

Computer_Architecture/Apuntes de Clase
Computer_Architecture/boostSharedDirFixApp
Computer_Architecture/*.pdf
Computer_Architecture/*.JPG

Computer_Networks/*.zip
Computer_Networks/*.exe
Computer_Networks/*.cpp

Data_Mining/Practicas/3-irisBIRT/*.txt
Data_Mining/Practicas/4-ConsultasMuseos/*.rar
Data_Mining/Practicas/4-Museos-p1/*.rar
Data_Mining/Practicas/8-randomForest/.metadata
Data_Mining/Practicas/8-randomForest/Example Workflows
Data_Mining/Practicas/8-randomForest/PFinalEq8Clustering
Data_Mining/Practicas/pruebaPythonScript
Data_Mining/Practicas/Tarea3_Vacunas/*.rar
Data_Mining/Practicas/Tarea4_reglasAsociacion/*.rar
Data_Mining/Practicas/Tarea5_ArbolesClasificacion/*.rar
Data_Mining/Practicas/Tarea7_RegresionLineal/*.rar

Development_of_Distributed_Systems/*.txt
Development_of_Distributed_Systems/*.jar
Development_of_Distributed_Systems/Apuntes/Tercer examen parcial =D.html

Introduction_to_Microcontrollers/*.rar
Introduction_to_Microcontrollers/*.asm
Introduction_to_Microcontrollers/*.docx

Web_Application_Development/Clases
Web_Application_Development/Prueba1_Tomcat9
Web_Application_Development/ReporteWAD
Web_Application_Development/*.zip
Web_Application_Development/*.pdf